<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Count | About</title>
</head>
<body>

    <h1>About</h1>
    <p>
        This is a website I created using Nick's Django course on Udemy.
        <br/>
        The purpose of the site is to count the number of words in a block of text entered by the user.
        <br/>
        To get started, go back to the <a href="{% url 'home' %}">Home</a> page
    </p>

</body>
</html>