<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Count Results</title>
</head>
<body>

    <h1>Count Results</h1>

    <h3>There are {{ count }} words in your text</h3>

    <h4>Your Text:</h4>
    <p>{{ fulltext }}</p>

    <h4>Word Count:</h4>
    {% for word, counttotal in wordDict %}
        <p>{{ word }}: {{ counttotal }}</p>
    {% endfor %}

</body>
</html>